/*EasyRetina® soporte retina en CSS*/
.iconsa {
  font-family: 'modern_pictograms';
}
.iconsb {
  font-family: 'websymbols';
}
.fonta {
  font-family: 'Junction';
}
.fontb {
  font-family: 'Raleway Thin';
}
.fontc {
  font-family: 'LeagueScript';
}
.fontd {
  font-family: 'League Gothic Italic';
}
.fonte {
  font-family: 'League Gothic Reg';
}
.fontf {
  font-family: 'League Gothic Condensed';
}
.fontg {
  font-family: 'League Gothic Condensed Italic';
}
.fonth {
  font-family: 'Fanwood Italic';
}
.fonti {
  font-family: 'Fanwood Text';
}
.fontj {
  font-family: 'Fanwood';
}
